$fa-edible-color: #6FB464;

.fa-sendemail-btn {
  background-color: $fa-edible-color;
  color: white;
}

.fa-text-highlight {
  color: $fa-edible-color;
}

.fa-send-errmsg {
  color: red;
  font-weight: bold;
}
